---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Github from "../components/Github.astro";
import Linkedin from "../components/Linkedin.astro";
import Cvitae from "../components/Cvitae.astro";
import Email from "../components/Email.astro";
import Experiencia from "../components/Experiencia.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ExperienciaIcon from "../components/ExperienciaIcon.astro";
---

<Layout
  title="Portafolio Dante Martínez - Técnico universitario Programador - Desarrollo web y software"
>
  <main>
    <SectionContainer class="py-40 pb-20">
      <div >
        <h1 class="text-white text-5xl font-bold flex-row gap-x-20 flex pb-5 items-center"
        >
          👋 Hola, soy Dante
          <div class="flex-row justify-center item-center">
            <a
              href="https://www.linkedin.com/in/dantemartínez/"
              target="_blank"
              rel="noopener"
            >
              <Badge>Buscando Trabajo</Badge>
            </a>
          </div>
        </h1>
      </div>
      <h2 class="text-2xl text-wrap">
        Soy <strong>Técnico Universitario en Programación</strong> egresado de la
        Universidad Tecnológica Nacional (UTN) - FRSR, Argentina.<br />
        <span class="text-yellow-600"
          >Me apasiona, programar y desarrollar soluciones de aplicaciones web
          originales y personalizadas.</span
        >
      </h2>
      <ul class="flex gap-x-10 mt-10 justify-end">
        <li>
          <a href="https://github.com/mzadante" target="_blank" rel="noopener">
            <Github />
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/dantemartínez/"
            target="_blank"
            rel="noopener"
          >
            <Linkedin />
          </a>
        </li>
        <li>
          <a href="" target="_blank" rel="noopener">
            <Cvitae />
          </a>
        </li>
        <li>
          <a href="" target="_blank" rel="noopener">
            <Email />
          </a>
        </li>
      </ul>
    </SectionContainer>
    <SectionContainer id="experiencia">
		<h2 class="text-3xl mb-5 font-semibold flex gap-x-2 items-center">
			<ExperienciaIcon class="size-8"/>
			Experiencia
		</h2>
      <Experiencia
		title="Desarrollador Web"
		company="Freelance"
		date="2019 - Actualidad"
		description="Desarrollo de aplicaciones web y software a medida, utilizando tecnologías como HTML, CSS, JavaScript, PHP, MySQL, Laravel, Vue.js, TailwindCSS, Bootstrap, Git, entre otras."
	  />
    </SectionContainer>
  </main>
</Layout>

<!-- <style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style> -->
