---
import EstudiosItem from "./EstudiosItem.astro";
const ESTUDIOS = [
    {
        date: "Marzo 2024 - Noviembre 2021",
        title: "Titulo: Técnico Universitario en Programación ▸ UTN facultad regional San Rafael",
        description:
            "Egresado de la Universidad Tecnológica Nacional con habilidades en: resolución de problemas de procesamiento de datos mediante la selección de algoritmos y técnicas adecuadas. Desarrollo y corrección de programas en lenguajes superiores. Colaboración en tareas específicas definidas por el Analista de Sistemas de Computación. Análisis, depuración y transferencia de información procesada, metodologías ágiles y trabajo Remoto.",
        link: "https://www.frsr.utn.edu.ar/programacion/",
    },
    {
        date: "Diciembre 2023 - Agosto 2023",
        title: "Curso: INGLÉS APLICADO A LAS TECNOLOGÍAS - Nivel B1",
        description:
            "Dictado por el Gobierno de la Provincia de Mendoza en conjunto con la Fundación Santísima Trinidad, con una carga horaria total de 210 horas.",
        link: "https://drive.google.com/file/d/1gyvELuXohlJATzuvwD4Mv1TVBN1I6Y6x/view?usp=sharing",
    },
    {
        date: "Diciembre 2022 - Abril 2022",
        title: "Oracle Next Education ▸ Oracle - Formación Frontend y Backend, metodologías ágiles",
        description:
            "Programa de educación y certificación en tecnología de Oracle, enfocado en capacitar a estudiantes en lenguajes de programación para el desarrollo Front-End, Back-End y Metodologías Ágiles. El objetivo es prepararlos para ingresar al mercado laboral con habilidades en tecnologías de vanguardia.",
        link: "https://drive.google.com/file/d/1LE8LgKgBvbgHJclaiDKXEEyqeKfU3pUv/view",
    },
    {
        date: "Abril 2021 - Septiembre 2020",
        title: "Capacitación en Programación Java ▸ Mendoza Tec ▸ F. Santísima Trinidad",
        description:
            'Es un programa de educación, implementado en colaboración con el " Programa de apoyo al desarrollo tecnológico de Mendoza", con un total de 500 hs. reloj.',
        link: "https://drive.google.com/file/d/1MZ34K7VoI17_gZ8QMQ5gStFc2Zj5ZeWo/view",
    },
    {
        date: "Noviembre 2010 - Febrero 2008",
        title: "Título: Técnico Universitario en Seguridad e Higiene en el Trabajo ▸ Universidad Nacional de Cuyo San Rafael",
        description:
            "Incumbencias del titulo: experiencia en la identificación y gestión de riesgos laborales, diseño e implementación de medidas preventivas, capacitación de personal en prácticas seguras, investigación de accidentes, cumplimiento normativo y coordinación con entidades reguladoras. Competente en asegurar entornos laborales seguros y saludables, con enfoque en la prevención de riesgos y la promoción de una cultura de seguridad.",
        link: "https://drive.google.com/file/d/10ZISa1-M-K2Goggsxv4NqV4mUYt0FH1h/view",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        ESTUDIOS.map((estudios) => (
            <li class="mb-10 ms-4">
                <EstudiosItem {...estudios} />
            </li>
        ))
    }
</ol>
