---
import EstudiosItem from './ExperienciaItem.astro';
const ESTUDIOS = [
    {
        date: 'Diciembre 2023 - Noviembre 2021',
        title: 'Titulo: Técnico Universitario en Programación ▸ UTN facultad regional San Rafael',
        description: 'Egresado de la Universidad Tecnológica Nacional, incumbencias poseerá conocimientos y práctica que le permitirán: · Analizar un problema de procesamiento de datos y desarrollarlo en un lenguaje apropiado para su resolución, seleccionando el algoritmo adecuado, la técnica de procesamiento correspondiente y conformando un programa correctamente estructurado.· Elaborar y corregir los programas en lenguajes superiores.· Realizar la elaboración detallada de tareas específicas definidas por el Analista de Sistemas de Computación.· Analizar, depurar y transferir la información procesada al especialista que ha de utilizarla.',
        link: "https://www.frsr.utn.edu.ar/programacion/"
    },
    {
        date: 'Noviembre 2022 - Enero 2021',
        title: 'Bootcamp Oracle Next Education ▸ Oracle - Alura Latam',
        description: 'Es un programa de educación y certificación en tecnología de Oracle, que tiene como objetivo capacitar a los estudiantes en tecnologías de vanguardia, en varios lenguajes de programación orientados al desarrollo Front-End, Back-End y Metodologias Ágiles, con el fin de prepararlos para el mercado laboral.  ',
        link: "https://drive.google.com/file/d/1LE8LgKgBvbgHJclaiDKXEEyqeKfU3pUv/view"
    },
    {
        date: 'Noviembre 2010 - Febrero 2008',
        title: 'Titulo: Técnico Universitario en Seguridad e Higiene en el Trabajo ▸ UNC Uncuyo San Rafael',
        description: 'Incumbencias del titulo: experiencia en la identificación y gestión de riesgos laborales, diseño e implementación de medidas preventivas, capacitación de personal en prácticas seguras, investigación de accidentes, cumplimiento normativo y coordinación con entidades reguladoras. Competente en asegurar entornos laborales seguros y saludables, con enfoque en la prevención de riesgos y la promoción de una cultura de seguridad.',
        link: "https://www.uncuyo.edu.ar/"
    },
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
    {
        ESTUDIOS.map((estudios) =>(
            <li class="mb-10 ms-4">
              <EstudiosItem {...estudios} />
            </li>    
        ))
    }
    
</ol>
