---
import EstudiosItem from './ExperienciaItem.astro';
const ESTUDIOS = [
    {
        date: 'Diciembre 2023 - Noviembre 2021',
        title: 'TITULO: Técnico Universitario en Programación ▸ UTN facultad regional San Rafael',
        description: 'Egresado de la Universidad Tecnológica Nacional, incumbencias poseerá conocimientos y práctica que le permitirán: · Analizar un problema de procesamiento de datos y desarrollarlo en un lenguaje apropiado para su resolución, seleccionando el algoritmo adecuado, la técnica de procesamiento correspondiente y conformando un programa correctamente estructurado.· Elaborar y corregir los programas en lenguajes superiores.· Realizar la elaboración detallada de tareas específicas definidas por el Analista de Sistemas de Computación.· Analizar, depurar y transferir la información procesada al especialista que ha de utilizarla.',
        link: "https://www.frsr.utn.edu.ar/programacion/"
    },
    {
        date: 'Noviembre 2023 - junio 2021',
        title: 'Aplicación web Estacionamiento Controlado ▸ Annidada Tech - UTN',
        description: 'App de estacionamiento controlado para la ciudad de San Rafael Mendoza. Desde la universidad comenzamos a crear una aplicación web para digitalizar el estacionamiento controlado, para aprobar ciencia de datos, y luego a pedido de los secretarios académicos se nos insistio en terminarla para aplicarla a la ciudad de San Rafael, se logro un prototipo el cual será mandado a producción.',
        link: "https://app-estacionamiento-controlado.firebaseapp.com/"
    },
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
    {
        ESTUDIOS.map((estudios) =>(
            <li class="mb-10 ms-4">
              <EstudiosItem {...estudios} />
            </li>    
        ))
    }
    
</ol>
