---
import ExperienciaItem from "./ExperienciaItem.astro";
const EXPERIENCIA = [
    {
        date: "2025 - 2024",
        title: "Tutor para la Tecnicatura Universitaria en Programación UTN-FRSR",
        description:
            "Asesoría y tutoría a estudiantes de la Tecnicatura. Apoyo en proyectos prácticos y orientación en herramientas tecnológicas, clases de consulta semanales en remoto y presentación de clases referidas a las diferentes tecnologías actuales, se adjunta un link a canal de youtube con clases grabadas.",
        link: "https://www.youtube.com/channel/UCp2fJS7UstynKZ8A86gaVhQ", //canal de youtube
    },
    {
        date: "Diciembre 2023 - Octubre 2022",
        title: "Aplicación web Inter-Areas RR-HH ▸ Global Solutions",
        description:
            "Practica profesional en la empresa GlobalSolutions, para el departamento de programación. La misma consistió en crear una aplicación web inter-areas para la comunicacion interna de Recursos Humanos, esta aplicación tiene roles de administrador y editor, los cuales pueden crear publicaciones para mostrar los beneficios, politicas, novedades y capacitaciones de la empresa.",
        link: "https://app-interareas-2023.web.app/",
    },
    {
        date: "Noviembre 2023 - junio 2021",
        title: "Aplicación web Estacionamiento Controlado ▸ Annidada Tech - UTN",
        description:
            "App de estacionamiento controlado para la ciudad de San Rafael, Mendoza. Desde un desafio de la universidad, comenzamos a crear una aplicación web para digitalizar el estacionamiento controlado, como parte de un proyecto para aprobar ciencia de datos. Luego, a pedido de los secretarios académicos, se nos insistió en terminarla para aplicarla a la ciudad de San Rafael. Se logró un prototipo que será enviado a producción, y el mismo se esta aprobando en el consejo deliberante. Aprovecho a pedir si estas interesado en colaborar con el proyecto, ya que necesitamos fondos y ayuda de profesionales para obtener mas conocimientos para concluirla.",
        link: "https://app-estacionamiento-controlado.firebaseapp.com/",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCIA.map((experiencia) => (
            <li class="mb-10 ms-4">
                <ExperienciaItem {...experiencia} />
            </li>
        ))
    }
</ol>
