---
import ExperienciaItem from "./ExperienciaItem.astro";
const EXPERIENCIA = [
    {
        date: "2025 actualidad - Marzo 2024",
        title: "Tutor para la Tecnicatura Universitaria en Programación ▸ UTN-FRSR",
        description:
            "Asesoría y tutoría a estudiantes de la Tecnicatura. Apoyo en proyectos prácticos y orientación en herramientas tecnológicas, clases de consulta semanales en remoto y presentación de clases referidas a las diferentes tecnologías actuales, se adjunta un link a canal de youtube con clases grabadas.",
        link: "https://www.youtube.com/channel/UCp2fJS7UstynKZ8A86gaVhQ", //canal de youtube
    },
    {
        date: "2025 actualidad - Octubre 2024",
        title: "Refactorización de App ecostop Estacionamiento Controlado ▸ Independiente",
        description:
            "Hoy en la actualidad me encuentro refactorizando la App ecostop, como independiente, con nuevas tecnologías, utilizando una Api Rest con Node Js, y consumiendola con Vue Js y con base de datos PostgresSQL.",
        link: "https://app-estacionamiento-controlado.firebaseapp.com/",
    },
    {
        date: "Diciembre 2023 - Octubre 2023",
        title: "Aplicación Web Inter-Areas RR-HH ▸ Global Solutions",
        description:
            "Práctica profesional en la empresa Global Solutions, desarrollé una aplicación web para uso interno de la empresa para la gestión de recursos humanos. Con sistema de rol Administrador, editor, utilizando JavaScript, HTML5, CSS3 y Bootstrap y con despliegue en Firebase Integrando la base de datos Firebase para almacenamiento de datos y login.",
        link: "https://app-interareas-2023.web.app/",
    },
    {
        date: "Noviembre 2023 - julio 2022",
        title: "Aplicación web Estacionamiento Controlado ▸ Annidada Tech - UTN",
        description:
            "App de estacionamiento controlado ekostop. Desde un desafío de la universidad, comenzamos a desarrollar una aplicación web para digitalizar el estacionamiento controlado, como parte de un proyecto para aprobar ciencia de datos. Se logró un prototipo este tiene sistema de roles (administrador, usuario, inspector, otros) y estadísticas de utilización de la app y ciencia de datos de la misma con charts en js. el prototipo se creo utilizando JavaScript, html5, Css3, Bootstrap y se desplego a Firebase.",
        link: "https://app-estacionamiento-controlado.firebaseapp.com/",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCIA.map((experiencia) => (
            <li class="mb-10 ms-4">
                <ExperienciaItem {...experiencia} />
            </li>
        ))
    }
</ol>
