<header class="flex justify-between items-center w-[1120px] mx-auto">
    <a href="https://www.linkedin.com/in/dantemartínez/" target="_blank">
        <img class="scale-50 rounded-full 12w 12h" src="https://media.licdn.com/dms/image/D4D35AQFJGWRz-4HB9w/profile-framedphoto-shrink_200_200/0/1673273419092?e=1705593600&v=beta&t=TAjAIhFW0WBCKhJj8ielX2ARI5t3XBeYXol33I_G69Y" alt="Dante M. foto perfil"/>
    </a>
    
    <nav>
        <ul class="flex flex-row gap-x-10">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre mi</a></li>
            <li><a href="#">Portafolio</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>