<header class={`
    flex justify-center items-center
    mx-auto
    py-5
    w-full xl:w-[1120px]
    z-10
  `}>
    <a href="https://www.linkedin.com/in/dantemartínez/" target="_blank">
        <img
        class="scale-50 rounded-full 12w 12h "
        src="https://media.licdn.com/dms/image/D4D35AQFJGWRz-4HB9w/profile-framedphoto-shrink_200_200/0/1673273419092?e=1705593600&v=beta&t=TAjAIhFW0WBCKhJj8ielX2ARI5t3XBeYXol33I_G69Y"
        alt="Dante Martínez. foto perfil"
      />
    </a>
    <nav class={`
        px-3 py-1
        flex flex-row items-center
        text-blue-300
      `}>
        <ul class="flex flex-row gap-x-6 flex-wrap">
            <li><a class="hover:bg-white/30 rounded-full px-3 py-2 transition" href="#top">Inicio</a></li>
            <li><a class="hover:bg-white/30 rounded-full px-3 py-2 transition" href="#sobremi">Sobre Mi</a></li>
            <li><a class="hover:bg-white/30 rounded-full px-3 py-2 transition" href="#experiencia">Experiencia</a></li>
            <li><a class="hover:bg-white/30 rounded-full px-3 py-2 transition" href="#estudios">Estudios</a></li>
            <li><a class="hover:bg-white/30 rounded-full px-3 py-2 transition" href="#contacto">Contacto</a></li>
        </ul>
    </nav>
</header>